<header th:fragment="~{headeradmin-old}" class="header-base header-admin">
    <div class="contenedor" id="headerup">
        <a th:href="@{/main}" class="logo">
            <img th:src="@{/img/AdoptPets (1).png}" alt="logo de la pagina">
        </a>
        <nav>
            <div class="user-menu">
                <button class="user-button" type="button">
                    Admin ▾
                </button>

                <div class="user-dropdown">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="logout-btn">
                            Cerrar sesión
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div class="headadmin" id="headadmin">
        <nav>
            <a th:href="@{/main}">Ir al sitio</a>
            <a th:href="@{/admin/dashboard}" class="active">Dashboard</a>
            <a th:href="@{/admin/mascotas}">Mascotas</a>
            <a th:href="@{/admin/adopciones}">Adopciones</a>
            <a th:href="@{/admin/refugios}">Refugios</a>
            <a th:href="@{/admin/usuarios}">Usuarios</a>
            <a th:href="@{/admin/reportes}">Reportes</a>
    </div>

    <div id="header-spacer"></div>
</header>