:root {
    /* Inicializamos en 0, JS lo calcular치 */
    --altura-header-total: 0px;
    --altura-header-up: 0px;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .logo img {
    width: 130px;
    height: auto;
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

header nav {
    display: flex;
    gap: 60px;
    flex-direction: row;
    text-align: center;
}

header .headadmin nav{
    margin: auto;
}

.header-fixed {
    position: fixed;
    left: 0;
    right: 0;
    transition: transform 0.3s ease; /* Usamos transform, es m치s fluido */
}

#headerup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 100px 10px 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,1); /* fondo s칩lido */
    transition: transform 0.25s linear;
}

.contenedor .derecha {
    float: right;
}
.contenedor .izquierda{
    float: left;
}
.contenedor{
    overflow: hidden;
}


#headadmin {
    position: fixed;
    top: var(--altura-header-up);
    left: 0;
    right: 0;
    z-index: 900;
    padding: 10px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,1); /* fondo s칩lido */
    border-bottom: 1px solid rgba(0,0,0,0.1);
    transition: top 0.25s linear;
}

#header-spacer {
    height: var(--altura-header-total);
    width: 100%;
    visibility: hidden;
}
body.scroll-hide-header #headerup,
body.scroll-hide-header #headadmin {transform: translateY(calc(var(--altura-header-up) * -1));
}

header a {
    padding: 3px 5px;
    font-weight: 600;
    font-size: 18px;
    color: #22C55E;
    text-decoration: none;
}

header a:hover {
    color: #1B9E4B;
}

/* Mobile */
@media (max-width: 480px) {
    header nav {
        display: none;
    }

    header .contenedor {
        padding: 20px 0px 10px 0px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 8px;
    }
}
