* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #f1fdf5;
    font-family: sans-serif;
}
.contenedor {
    max-width: 1400px;
    margin:auto;
}
.boton {
    border-radius: 20px;
    padding: 10px 12px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 2px 2px 10px ;
    background-color: #22C55E;
    color: rgb(255, 255, 255);
}

.boton:hover{
    color: #ffffff;
    background-color: #1B9E4B;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.login-formulario {
    background: #ffffff;
    padding: 40px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    height: 200%;
    max-width: 400px;
}

.login-formulario h1 {
    color: #22C55E;
    font-size: 28px;
    text-align: left;
    padding-bottom: 40px;
}

.login-formulario h2 {
    margin-top: 10px;
    color: #1B9E4B;
    font-size: 30px;
}

.login-formulario p {
    margin: 18px 0;
    font-size: 14px;
}

.login-formulario form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.login-formulario .recordar {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.login-formulario input[type="checkbox"]
{
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}


.login-formulario button {
    width: 100%;
    background-color: #22C55E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.registro-link {
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}

.login-imagen img {
    width: 400px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
}

@media (max-width: 480px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .login-formulario h1,
    .registro-formulario h1
    {
        display: none;
    }

    .login-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .login-formulario {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .login-formulario h1 {
        font-size: 30px;
    }

    .login-formulario h2 {
        font-size: 22px;
        margin-top: 10px;
    }

    .login-formulario p {
        font-size: 16px;
    }

    .login-formulario form input {
        width: 100%;
        margin-bottom: 12px;
        padding: 12px;
        font-size: 16px;
    }

    .recordar {
        text-align: left;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .login-formulario button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    .login-imagen {
        width: 100%;
    }

    .login-imagen img {
        width: 80%;
        height: auto;
        border-radius: 10px;
    }

}
