*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
h2{ font-size: 2px;}
p{  font-size: 12px;}

body{
    margin: 0;
    font-family: sans-serif;
}

button{
    border-radius: 20px;
    padding: 10px 12px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 2px 2px 10px ;
    background-color: #22C55E;
    color: rgb(255, 255, 255);
}
button:hover{
    background-color: #1B9E4B;
}

.contenedor {
    max-width: 1400px;
    margin:auto;
}
.boton {
    border-radius: 20px;
    padding: 10px 12px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 2px 2px 10px ;
    background-color: #22C55E;
    color: rgb(255, 255, 255);
}

.boton:hover{
    color: #ffffff;
    background-color: #1B9E4B;
}

#adoptpets{
    padding: 40px 0 130px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    color: #22C55E;
    background-image:url("../img/perros.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size:1600px;
}

.img-contenedor{
    padding-bottom: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#adoptpets h1{
    font-size: 100px;
    margin: 10px;
    color: #22C55E;
}

#adoptpets p {
    font-size: 20px;
    color:#1B9E4B;
}

.texto2 {
    padding-top: 40px;
    font-weight: bold;
    font-size: 20px;
    color: #137035;

}

.texto3 li{
    font-size: 20px;
    color: #051B0D;
}

#contactanos h2{
    font-size: 38px;
    padding: 10px;
    color: #137035;
}

#contactanos p{
    font-size: 25px;
    color: #051B0D;
}


#adoptpets  {
    font-size: 20px;
    color: rgb(95, 95, 95);
}


#contactanos .contenedor{
    max-width: 100%;
    background-color: #D3F3DC;
    display: flex;
    border-radius: 50px;
    margin: 100px 90px;
    text-align: center;
    padding: 20px 100px 80px;

}

.textocontacto{
    justify-content: center;
    text-align: left;
    padding-right: 100px;
}

.formulario{
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    border-radius: 40px;
}

.nombresfila {
    width: 100%;
}

.campo {
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 8px;
    display: flex;
    padding: 7px 50px;
}

.campo label {
    text-align: left;
    padding-bottom: 10px;
}

.campo input,
.campo textarea {
    width:100%;
    border-radius: 20px;
    padding: 10px;
}

#mensaje {
    padding: 60px;
}

.error{
    text-align: center;
    display: block;
    padding: 0%;
    margin: 0%;
}


@media (max-width:768px){

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    header nav{
        margin: auto;
        display: flex;
        gap: 5px;
        flex-direction:column;
        text-align: center;
        padding-right: 10px;
    }

    *{
        outline: 1px solid limegreen !important;
    }


    #adoptpets {
        background-position: top center !important;
        padding-top: 40px;
        flex-direction: column;
        padding-bottom: 80px;
        display: flex;
        font-size: 40px;
        background-size: 160%;
        max-width: 100%;

    }



    header .contenedor{
        padding: 20px 0px 10px 0px;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        gap: 8px;
    }

    #adoptpets h1{
        font-size: 70px;
    }

    .img-contenedor{
        padding-top: 350px;
        padding-bottom: 0;
    }


    #contactanos{
        flex-direction: column;
        gap: 15px;

    }

    .formulario{
        background-color: #D3F3DC;
    }

    #contactanos .contenedor{
        text-align: center;
        padding: 30px;
        margin: 0;
        padding-bottom: 80px;

    }

    #contactanos h2{
        font-size: 38px;
        padding: 10px;
    }

    #contactanos p{
        text-align: center;
        font-size: 25px;
    }

    .contenedor {
        font-size: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 600px;
        margin: 0;
        flex-direction: column;
    }
    .textocontacto {
        display: flex;
        align-content: center;
        align-items: center;
        padding: 0;
        justify-content: center;
        flex-direction: column;
    }
    .campo {
        align-items: flex-start;
        max-width: 100%;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        padding: 7px 10px;
    }

    .nombresfila .campo{
        display: flex;
    }

    .campo label {
        text-align: left;
        padding-bottom: 10px;
    }

    .campo input,
    .campo textarea {
        width: 100%;
        padding: 14px;
    }

    .botonenviar {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 16px;
        padding: 10px 12px;
    }
}