* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #f1fdf5;
    font-family: sans-serif;
}

button{
    border-radius: 20px;
    padding: 10px 12px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 2px 2px 10px;
    background-color: #22C55E;
    color: rgb(255, 255, 255);
}
button:hover{
    background-color: #1B9E4B;
}

header {
    background-color: rgba(255, 255, 255, 0);
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.logo header {
    display: flex;
    align-items: center;
    text-shadow: 0 0 50px #000;
    text-transform: uppercase;
}

.contenedor {
    max-width: 1400px;
    margin:auto;
}

header .contenedor{
    padding: 40px 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-width: 100%;
}

header nav{
    margin: auto;
    margin-right: 10px;
    display: flex;
    gap: 80px;
    flex-direction:row;
    text-align: center;
    padding-right: 10px;
}

header a{
    padding: 3px 5px;
    font-weight: 600;
    font-size: 18px;
    color: #22C55E;
    text-decoration: none;
}

header a:hover{
    color: #1B9E4B;
}

nav a:hover{
    color: #1B9E4B;
}

.boton {
    border-radius: 20px;
    padding: 10px 12px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 2px 2px 10px;
    background-color: #22C55E;
    color: rgb(255, 255, 255);
}

.boton:hover{
    color: #ffffff;
    background-color: #1B9E4B;
}

.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.registro-formulario {
    background: #ffffff;
    padding: 40px;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
}

.registro-formulario h1 {
    color: #22C55E;
    font-size: 28px;
    padding-bottom: 40px;
}

.registro-formulario h2 {
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
}

.registro-formulario p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

form .fila {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

form input,
form select {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #22C55E;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.registro-formulario .terminos {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    font-size: 14px;
}

.registro-formulario input[type="checkbox"]
{
    width: 18px;
    height: 18px;
    margin: 0;
}

.registro-imagen img {
    width: 400px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
}

@media (max-width: 480px) {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    header nav{
        display: none;
    }

    .login-formulario h1,
    .registro-formulario h1
    {
        display: none;
    }

    header .contenedor{
        padding: 20px 0px 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        gap: 8px;
    }

    .registro-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .registro-formulario {
        width: 100%;
        padding: 20px;
        padding-bottom: 50px;
        margin-bottom: 30px;
        text-align: center;
    }

    .registro-formulario h1 {
        font-size: 30px;
    }

    .registro-formulario h2 {
        font-size: 22px;
        margin-top: 10px;
    }

    .registro-formulario p {
        font-size: 16px;
    }

    .fila {
        flex-direction: column;
        gap: 10px;
    }

    .registro-imagen img {
        width: 100%;
        height: auto;
        display: flex;
        border-radius: 10px;
    }

    .registro-formulario input,
    .registro-formulario select {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .registro-formulario button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    .terminos {
        font-size: 14px;
        text-align: left;
        margin-top: 10px;
    }

    .registro-imagen {
        width: 100%;
        margin-top: 20px;
    }

}
