<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdoptPets</title>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section id="adoptpets">
    <div class="img-contenedor">
        <h1>AdoptPets</h1>
        <p>Adopta a tu alma gemelea</p>
    </div>
</section>
<section id="contactanos">
    <div class="contenedor">
        <div class="textocontacto">
            <div class="texto"></div>
            <h2>Contactanos</h2>
            <p>Estamos aquí para ayudar y responder
                cualquier pregunta que tengas,
                encontraremos la forma de responderla.
            </p>

            <p class="texto2">
                Otras formas de contactarnos
            </p>

            <ul class="texto3">
                <li>Telefono: 239812910010</li>
                <li>Correo: adopttpetts@example.com</li>
            </ul>
        </div>
        <div class="error">
            <a th:href="@{/error404.html}" class="nav-link">Error de pagina</a>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer :: ~{footer}}"></div>
</body>
</html>